body{
    background-color: rgb(200, 168, 124);
    box-sizing: border-box;
}

p{
    color: white;
}
a{
    color: inherit;
}

@media screen and (min-width: 465px){
    .festini-precedenti{
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
    }
    
    .festini-precedenti div{
        margin: 20px;
    }
}


.navbar{
    display: flex;
    position: absolute;
    justify-content: left;
    align-items: center;
    top:5px;
    height: 60px;
    width: 100%;
}


@media screen and (max-width: 500px ) {
    .navbar{
        display: flex;
        position: absolute;
        top:5px;
        height: 40px;
        width: 100%;
    }
}



@media screen and (min-width: 500px ){
    .button-92 {
        --c: #fff;
        /* text color */
        background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat,
        rgb(71, 9, 116);
        /* background color */
        color: #0000;
        border: none;
        transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
        text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c),
          calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
        outline-offset: .1em;
        transition: 0.3s;
      }
      
      .button-92:hover,
      .button-92:focus-visible {
        --_p: 0%;
        --_i: 1;
      }
      
      .button-92:active {
        text-shadow: none;
        color: var(--c);
        box-shadow: inset 0 0 9e9q #0005;
        transition: 0s;
      }
      
      .button-92 {
        font-weight: bold;
        font-size: 2rem;
        margin: 0;
        cursor: pointer;
        padding: .1em .3em;
      }

}


.center {
    text-align: center;
    font-size: 20px;
    font-family: "serif-gothic";
    color: rgb(2, 58, 5);
}

.title {
    position: relative;
    top: 20px;
    color: rgb(71, 9, 116);
    text-align: center;
    font-family: "serif-gothic";
    font-size: 500%;
    border-bottom: solid;
    border-top: solid;
}

@media screen and (max-width: 500px) {
    .title {
        font-size: 300%;
    }
}

.front-page{
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
}


.party-img{
    position: relative;
    display:inline-block;
    color: white;
}


.party-img img{
    opacity: 0.8;
    transition: all ease-in-out 0.3s;

}


.party-img img:hover {
    opacity: 1;
    transition: all ease-in-out 0.3s;
    box-shadow: 0px 0px 10px white;
}

.party-img:hover .party-text{
    opacity: 0;
    transition: all ease-in-out 0.3s;
    pointer-events: none;
}

.party-text{
    position: absolute;
    top: 130px;
    left: 50px;
}

.previous-party{
    position: absolute;
    top: 130px;
    left: 40px;
}

@media screen and (max-width: 465px) {
    .previous-party{
        left:60px;
    }
}

.button-28 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #9e9d9d;
    background-color: #b1b0b0;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 4%;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #f5f4f400;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

.container{
    position: relative; 
    top: 180px;
    left: 5%;
    height: 100%;
    width: 90%;
    text-align: center;
    justify-content: center;   
}

.container img{
    position: relative;
    height: 15vmax;
    width: 29%;
    object-fit: cover;
    margin: 5px;
}


.go-back {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: absolute;
  top: 3%;
  left: 3%;
}

.go-back:active {
  box-shadow: 0px 0px 0px 0px;
}

@font-face{
    font-family: "Halloween";
    src: url("/fonts/CFHalloween-Regular.ttf"),
        url("/fonts/CFHalloween-Regular.eot"); 
}

@font-face{
    font-family: "Candice";
    src: url("/fonts/Candice.otf"),
         url("/fonts/Candice.eot"); 
}

@font-face {
    font-family: "serif-gothic";
    src: url("/fonts/serif-gothic.otf"),
         url("/fonts/serif-gothic.eot");
}

@font-face {
    font-family: "neon";
    src: url("/fonts/NEON.ttf"),
         url("/fonts/NEON.eot");
}

@font-face {
    font-family: "neon_2";
    src: url("/fonts/Neon Future.ttf"),
         url("/fonts/Neon Future.eot");
}

.title-container-halloween{
    position: relative;
    width: 50%;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: x-large;
    font-family: "Halloween";
}

#background-video {
    position: absolute;
    bottom: 30%;
    right:1%;
    width: 100%;
    height: 100%;
  }

.purple{
    background-color: #1c0937;
}

.title-container-70s p{
    position: relative;
    color: rgb(254,217,51);
    width: 100%;
    top: 100px;
    text-align: center;
    font-size:xx-large;
    font-family: "Candice";
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.notte-70{
    background: url("/images/img_70-80/vintage.jpg") repeat ;
    width: 100%;
    height: auto;
    background-size: 100% auto;

}


.centered{
    position: relative;
    left:10%;
    justify-content: center;
    font-size: large;
}



#dance{
    position: absolute;
    scale: 0.5;
    top:20%;
    left: 20%;
}

@media screen and (min-width: 800px){
    #dance{
        position: absolute;
        scale: 1;
        left:50%;
        margin-left: -250px;
    }
}

.vincitore{
    position: relative;
    justify-content: center;
    text-align: center;
    width: 90%; 
    left:5%;
    height: auto;

}

.vincitore img{
    position: inherit;
    top:100px;
    width: 326px; 
}

@media screen and (min-width: 1300px){
    .vincitore img{
        position: inherit;
        top:100px;
        width: 29%; 
    }
}

@media screen and (max-width: 375px){
    .vincitore img{
        position: inherit;
        top:100px;
        width: 70%; 
    }
}

.neon-body{
    background: url("/images/neon/neon-bkg.jpg") repeat ;
    /* font-family: "neon"; */
}

.neon-title{
    position: relative;
    color: #db3eb1;
    width: 100%;
    top: 100px;
    text-align: center;
    font-size:xx-large;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 50px #db3eb1) contrast(2) brightness(2);
    font-family: "neon";
}

.neon-button {
    color: #db3eb1;
    border: 6px solid #db3eb1;
    border-radius:15px;
    padding: 15px 25px;
    font-size: 30px;
    font-family: tahoma;
    letter-spacing:5px;
    cursor: pointer;
    font-weight: bold;
    filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 50px #db3eb1) contrast(2) brightness(2);
    transition: .5s;
    background-color: transparent;
    position: absolute;
    top: 3%;
    left: 3%;
  }
  
  .neon-button:hover {
    color: #db3eb1;
    background-color: #07fdff;
    filter: drop-shadow(0 0 20px #db3eb1) contrast(2) brightness(2);
  }

  .neon-navbar{
    position: relative;
    top:150px;
    display: flex;
    height:30vh;
    width: 106%;
    text-align: center;
    justify-content: center;
    right: 2%;
    border-top: solid #07fdff;
    border-bottom: solid #07fdff;
    background-color: black;
    filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 50px #db3eb1) contrast(2) brightness(2);
  }

  .dove{
    position: relative;
    object-fit: cover;
    margin: 5px;
    width: 30%;
    border-left: solid #07fdff;
    border-right: solid #07fdff;
  }

  .dress-code{
    position: relative;
    object-fit: cover;
    margin: 5px;
    width: 30%;
  }

  .music-type{
    position: relative;
    object-fit: cover;
    margin: 5px;
    width: 30%;
  }

.neon-text{
    position: inherit;
    font-size: 15px;
    top:40px;
    text-decoration: none;
    background-color: none;
    color: #07fdff;
    font-family: "neon_2";
    filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 50px #db3eb1) contrast(2) brightness(2);
}


.infos{
    position: absolute;
    top:570px;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    background-color: none;
    color: #07fdff;
    font-family: "neon_2";
    filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 50px #db3eb1) contrast(2) brightness(2);
}

.under-navbar{
    position: absolute;
    top:620px;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    background-color: none;
    color: #07fdff;
    font-family: "neon_2";
    filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 50px #db3eb1) contrast(2) brightness(2);
}

@media screen and (max-width: 420px){
    .neon-text{
    font-size: 12px; 
    }
    .neon-button {
        border: 3px solid #db3eb1;
        border-radius:8px;
        padding: 8px 13px;
        font-size: 18px;
        letter-spacing:5px;
        top: 3%;
        left: 3%;
      }
      .infos{
        top:215px;
    }
    .under-navbar{
        position: absolute;
        top:570px;
    }
}

.insta{
    position: relative;
    display: flex;
    justify-content: center;
    top: 300px;
    height: 100px;
    width: 100%;
}

.neon-insta{
    position: relative;
    justify-self: center;
    height: 100px;
    width: auto;
    margin: 10px;
}