body{
    background-color: rgb(200, 168, 124);
    box-sizing: border-box;
}


p{
    color: white;
}

.center {
    text-align: center;
    font-size: 20px;
    font-family: "serif-gothic";
    color: rgb(2, 58, 5);
}

.title {
    position: relative;
    /* border: 2px solid black; */
    top: 20px;
    color: rgb(71, 9, 116);
    text-align: center;
    font-family: "serif-gothic";
    /* font-family: "Tilt Prism"; */
    font-size: 500%;
    border-bottom: solid;
    border-top: solid;
}

@media screen and (max-width: 500px) {
    .title {
        font-size: 300%;
    }
}

.front-page{
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
    /* border: 3px solid white; */
}


.halloween-img{
    position: relative;
    display:inline-block;
    color: white;
    /* margin: 50px; */
    /* margin-right: 15%; */
}


.halloween-img img{
    opacity: 0.8;
    transition: all ease-in-out 0.3s;

}


.halloween-img img:hover {
    opacity: 1;
    transition: all ease-in-out 0.3s;
    box-shadow: 0px 0px 10px white;
}

.halloween-img:hover .halloween-text{
    opacity: 0;
    transition: all ease-in-out 0.3s;
    pointer-events: none;
}

.halloween-text{
    position: absolute;
    top: 130px;
    left: 55px;
}

.halloween-date{
    position: absolute;
    left: 20px;
    top: 30px;
}





.nextparty-img{
    position: relative;
    display:inline-block;
    color: white;
    /* margin: 50px; */
}

.nextparty-img img{
    opacity: 0.8;
    transition: all ease-in-out 0.3s;

}


.nextparty-img img:hover {
    opacity: 1;
    transition: all ease-in-out 0.3s;
    box-shadow: 0px 0px 10px white;
}

.nextparty-img:hover .nextparty-text{
    opacity: 0;
    transition: all ease-in-out 0.3s;
    pointer-events: none;
}

.nextparty-text{
    position: absolute;
    top: 35%;
    left: 35%;
}

.nextparty-text .nextparty-title{
    position: relative;
    right: 10px;
}

.staytuned{
    position: absolute;
    right: 15px;
    top: 30px;
    white-space: nowrap;
}


.button-28 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #9e9d9d;
    background-color: #b1b0b0;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 4%;
    will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #f5f4f400;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

.container{
    position: relative; 
    top: 180px;
    left: 5%;
    height: 100%;
    width: 90%;
    text-align: center;
    overflow: hidden;
    justify-content: center;
    /* border: 2px solid white; */
    
}

.container img{
    position: relative;
    height: 15vmax;
    width: 29%;
    object-fit: cover;
    margin: 5px;
    transition: .2s linear;
}


.go-back {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: absolute;
  top: 3%;
  left: 3%;
}

.go-back:active {
  box-shadow: 0px 0px 0px 0px;
}

/* @media (min-width: 768px) {
  .go-back {
    padding: 0.25em 0.75em;
  }
} */


@font-face{
    font-family: "Halloween";
    src: url("C:/Users/micci/Desktop/website/website/fonts/CFHalloween-Regular.ttf"),
        url("C:/Users/micci/Desktop/website/website/fonts/CFHalloween-Regular.eot"); /* IE9 */
}

@font-face{
    font-family: "Candice";
    src: url("C:/Users/micci/Desktop/website/website/fonts/Candice.otf"),
         url("C:/Users/micci/Desktop/website/website/fonts/Candice.eot"); 
}

@font-face {
    font-family: "serif-gothic";
    src: url("C:/Users/micci/Desktop/website/website/fonts/serif-gothic.otf"),
         url("C:/Users/micci/Desktop/website/website/fonts/serif-gothic.eot");
}

.title-container-halloween{
    position: relative;
    width: 50%;
    top: 100px;
    /* border: 2px solid white; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: x-large;
    font-family: "Halloween";
}

#background-video {
    position: absolute;
    /* right: 0; */
    bottom: 30%;
    right:1%;
    width: 100%;
    height: 100%;
    /* border: 3px solid white; */
  }

/* #soundwave{
    position: absolute;
    top: 0%;
    /* right:1%;
    width: 100%;
    height: 100%;
    scale: 1.3;
} */


  .purple{
    background-color: #1c0937;
}

.title-container-70s p{
    position: relative;
    color: rgb(254,217,51);
    width: 100%;
    /* left: 30px; */
    top: 100px;
    /* border: 2px solid white; */
    /* margin-left: auto;
    margin-right: auto; */
    text-align: center;
    font-size:xx-large;
    font-family: "Candice";
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.notte-70{
    background-color: rgb(217, 32, 22);
    overflow: hidden;
}

.infos{
    position: relative;
    top: 50px;
    font-family: "Candice";
    font-size: large;
    color: rgb(254,217,51);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    /* margin-right: 15%s; */
}

.directions{
    position: relative;
    width: 100%;
    justify-content: center;
    /* text-align: center; */
    /* display: inline-block; */
    /* border: 3px solid black; */
}

.address{
    position: relative;
    left:10%;
    /* display: inline-block; */
    justify-content: center;
    font-size:medium;
}

.maps{
    position: relative;
    top:10%;
    width: 20%;
    height: 100%;
    /* display: inline-block; */
    /* left: 10%; */
}

.centered{
    position: relative;
    left:10%;
    justify-content: center;
    /* width: 50%; */
    /* margin-left: auto;
    margin-right: auto; */
    font-size: large;
}

.main{
    font-size: larger;
    color: rgb(254,217,51);
    position: relative;
}


#dance{
    position: absolute;
    scale: 0.5;
    top:20%;
    left: 20%;
}

.contatti{
    position: relative;
    width: 100%;
    text-align: right;
    font-size: larger;
    color: rgb(254,217,51);
}

.insta{
    position: relative;
    width: 100%;
    text-align: right;
    font-size: larger;
    text-shadow: none;
}